appVersion: "latest"
image:
  app: ghcr.io/preparingforexams/telegram-horoscope-bot
openai:
  gptModel: gpt-4o-2024-08-06
telegram:
  enabledChats:
    - "133399998"
    - "-1001725586482"
rateLimiter:
  # renovate: datasource=docker
  image: ghcr.io/preparingforexams/rate-limiter-migrations-postgres:6.1.0
postgres:
  database: horoscope
  user: prep-horoscope-bot.horoscope
  service: born-postgres
  namespace: born-postgres
